.footer {
  background: #422e1b;
  padding-top: 40px;
  padding-bottom: 16px;

  @include media(desktop) {
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  @include media(desktop) {
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}

.footer-nav-list {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
  }
}

.footer-nav-list-item {
  @include media(desktop) {
  }
}

.footer-nav-list-link {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f2eee4;

  @include media(desktop) {
    font-size: 18px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    align-items: end;
  }
}

.footer-link {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f2eee4;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
  }
}

.footer-bottom-text {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: right;
  color: #f2eee4;

  @include media(desktop) {
    font-size: 12px;
  }
}
