.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.gameplay-text-wrapper {
  @include media(desktop) {
    max-width: max-content;
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-subtitle {
  @include media(desktop) {
  }
}

.gameplay-text {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #422e1b;

  @include media(desktop) {
    font-size: 18px;
  }
}

.gameplay-img {
  @include media(desktop) {
    min-width: 447px;
  }
}
