<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">The Concept</h2>
          <p class="section-subtitle about-subtitle">Memory Meets Craft</p>
          <p class="about-text">
            Pattern Carve is about observation and subtle control.<br />
            You are shown a brief design — curves, angles, intersections.<br />
            <br />
            It disappears quickly.<br />
            From memory, you must carve the same pattern into a blank surface
            using gentle cuts.<br />
            <br />
            It is not about speed.<br />
            It is about steady hands and clear recall.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="447"
            height="413" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="359" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="359"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
