<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">Carving System</h2>
          <p class="section-subtitle features-subtitle">
            Subtle Cuts, Real Impact
          </p>
          <p class="features-text">
            Each carving stroke removes a small section of material.<br />
            The system evaluates:
          </p>
          <ul class="features-list">
            <li class="features-list-item">
              <p class="features-item-text">Alignment accuracy</p>
            </li>
            <li class="features-list-item">
              <p class="features-item-text">Angle precision</p>
            </li>
            <li class="features-list-item">
              <p class="features-item-text">Depth consistency</p>
            </li>
            <li class="features-list-item">
              <p class="features-item-text">Smooth continuity</p>
            </li>
          </ul>
          <p class="features-text">
            Over-carving reduces score.<br />
            Hesitation affects line confidence.<br />
            The cleaner your cuts, the better your score. Simple as that.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/features/features-img-desk.png"
            media="(min-width: 1440px)"
            width="447"
            height="453" />
          <source
            srcset="./img/features/features-img-mob.png"
            width="343"
            height="358" />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="358"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
