<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">How to Play</h2>
          <p class="section-subtitle gameplay-subtitle">How It Works</p>
          <p class="gameplay-text">
            A faint carving pattern appears for a short moment.<br />
            Observe the shape, spacing, and angles carefully.<br />
            The pattern fades completely.<br />
            <br />
            Use carving strokes to recreate it on the blank surface.<br />
            Submit your design for accuracy evaluation.<br />
            You can replay levels to improve precision.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="447"
            height="413" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="340" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="340"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
