<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">GOODWAY</h1>
        <p class="hero-subtitle">Way of Gemstones</p>
        <p class="hero-top-text">Slide. Place. Clear the Path.</p>
        <p class="hero-middle-text">
          Five worlds.<br />
          One clear goal.<br />
          Empty the grid and discover the beauty of each landscape.
        </p>
        <p class="hero-bottom-text">Find your path through gemstones.</p>
        <a
          class="hero-cta-link"
          href="https://play.google.com/store/apps/details?id=com.ummundi.game.puzzle.goodway&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-download-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-playstore"></use></svg
          ><span class="header-cta-link-span">Download Now</span></a
        >
      </div>
    </div>
  </div>
</section>
