<section class="section progression-section" id="progression">
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <div class="progression-content-wrapper">
        <div class="progression-text-wrapper">
          <h2 class="section-title progression-title">Progression</h2>
          <p class="section-subtitle progression-subtitle">
            From Simple Forms to Layered Patterns
          </p>
          <p class="progression-text">
            Early levels introduce straight-line shapes and simple geometry.<br />
            Later stages include:
          </p>
          <ul class="progression-list">
            <li class="progression-list-item">
              <p class="progression-item-text">Curved engravings</p>
            </li>
            <li class="progression-list-item">
              <p class="progression-item-text">Intersecting lines</p>
            </li>
            <li class="progression-list-item">
              <p class="progression-item-text">Layered depth variations</p>
            </li>
            <li class="progression-list-item">
              <p class="progression-item-text">Asymmetrical compositions</p>
            </li>
            <li class="progression-list-item">
              <p class="progression-item-text">Sequential memory layers</p>
            </li>
          </ul>
          <p class="progression-text">
            Yeah, it gets tougher as you go, but I dunno... it's not
            stressful?<br />
            Hard to explain why.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/progression/progression-img-desk.png"
            media="(min-width: 1440px)"
            width="447"
            height="588" />
          <source
            srcset="./img/progression/progression-img-mob.png"
            width="343"
            height="451" />
          <img
            class="progression-img"
            src="./img/progression/progression-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="451"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
